name: Metrics
on:
  # Update every hour
  schedule: [{cron: "0 * * * *"}]
  # Allow manual trigger
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}
          
          # Your username
          user: GibranMaulana
          
          # Options
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Jakarta
          
          # Private Stats Settings
          committer_token: ${{ secrets.GITHUB_TOKEN }}
